<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Main Menu Messages -->
		<add key="WelcomeMessage" value="Welcome to AwesomeGIC Bank! What would you like to do?" />
		<add key="InputTransactionOption" value="[T] Input transactions" />
		<add key="DefineInterestRuleOption" value="[I] Define interest rules" />
		<add key="PrintStatementOption" value="[P] Print statement" />
		<add key="QuitOption" value="[Q] Quit" />
		<add key="InvalidOptionMessage" value="Invalid option. Please try again." />
		<add key="GoodbyeMessage" value="Thank you for banking with AwesomeGIC Bank. Have a nice day!" />

		<!-- Transaction Messages -->
		<add key="EnterTransactionDetails" value="Please enter transaction details in &lt;Date&gt; &lt;Account&gt; &lt;Type&gt; &lt;Amount&gt; format (or enter blank to go back to main menu):" />
		<add key="TransactionSuccess" value="Transaction added successfully." />
		<add key="TransactionFailed" value="Transaction failed: Insufficient balance or invalid input." />
		<add key="InvalidTransactionFormat" value="Invalid input format." />

		<!-- Interest Rule Messages -->
		<add key="EnterInterestRuleDetails" value="Please enter interest rules details in &lt;Date&gt; &lt;RuleId&gt; &lt;Rate in %&gt; format (or enter blank to go back to main menu):" />
		<add key="InterestRuleSuccess" value="Interest rule added successfully." />
		<add key="InterestRuleFailed" value="Interest rule failed: Invalid rate or input." />
		<add key="InvalidInterestRuleFormat" value="Invalid input format." />

		<!-- Print Statement Messages -->
		<add key="EnterStatementDetails" value="Please enter account and month to generate the statement &lt;Account&gt; &lt;Year&gt;&lt;Month&gt; (or enter blank to go back to main menu):" />
		<add key="InvalidStatementFormat" value="Invalid input format." />

		<add key="EnterSymbol" value="&gt;" />
		
	</appSettings>
	
</configuration>